/* --------------------------------------------------------------
/* =SUPER GLOBAL
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 45%; /* 16:9 aspect ratio (height/width) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.no-underline {
  text-decoration: none;
}

ul {
  list-style-type: none; /* Removes the default bullet points */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

li {
  font-size: 18px; /* Sets the font size for the list items */
  margin-bottom: 10px; /* Adds space between list items */
}

strong {
  color: #5A5A5A; /* Makes the text blue */
}

.instagram-logo {
  display: flex;
  align-items: center;
}

.instagram-logo img {
  height: 32px;
  margin-right: 8px;
}

.instagram-logo span {
  font-size: 18px;
  font-weight: bold;
}





body {
  line-height: 1.3;
  padding: 0;
  margin: 0;
   font-family: 'Open Sans', sans-serif;
  background: ##5b626a;
  color: #9A9A9A;
}
::selection {
  color: #000000;
  background: #89C4E1;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
   text-align: justify;
}
.large-container {
  width: 100%;
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}


/* --------------------------------------------------------------
/* =ELEMENTS & TYPO / Kind of Branding basic definition area
-------------------------------------------------------------- */
p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 180%;
   text-align: justify;
  margin: 20px 0;
}
p.small {
  font-size: 0.8em;
  opacity: 0.7;
}
.hero {
  overflow: hidden;
  border-radius: 0px;
}
.hero__image, .footer__image {
  width: 100%;
  height: auto;
}
.hero__image__night, .footer__image__night {
  display: block;
}
.hero__image__day, .footer__image__day {
  display: none;
}
a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  outline: none;

}
a:hover {
  opacity: 0.5;
}
.tag {
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.25);
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 90%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
}
h1.main-title {
  font-size: 2.1em;
  color: #ffffff;
}
h1 span {
  font-weight: 400;
}
h2 {
  font-size: 1.1em;
  margin: 0;
  font-weight: 700;
  color: rgba(0,0,0,0.3);
  color: #ffffff;
}
header, section {
  padding-bottom: 1vw;
}
footer {
  padding-bottom: 2vw;
}

/* --------------------------------------------------------------
/* =Color mode
-------------------------------------------------------------- */
.color-modes {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 32px 0 0 0;
  padding: 8px 0 0 0;
}
.color-modes__button {
  font-size: 0.8em;
  cursor: pointer;
  opacity: 0.7;
  padding: 0;
  display: inline-block;
  margin-right: 8px;
}
.color-modes__button.active, .color-modes__button:hover {
  opacity: 1;
}

/* --------------------------------------------------------------
/* =LIGHT MODE
-------------------------------------------------------------- */
body.light-mode {
  background: #f0f0f0;
  color: #00193B;
   font-size: 1.0em;
   
}
.light-mode h1.main-title,
.light-mode h2 {
  color: #262a2f;
}
.light-mode .tag {
  color: #5b626a;
  background: #E0E0E0;
}
.light-mode a {
  color: #262a2f;
  border-bottom: 2px solid #262a2f;
}
.light-mode .hero__image__night, .light-mode .footer__image__night  {
  display: none;
}
.light-mode .hero__image__day, .light-mode .footer__image__day {
  display: block;
}
.light-mode .color-modes {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  body {
    padding: 10vw 0;
  }
  p {
    line-height: 160%;
    font-size: .9em;
  }
  h1.main-title {
    font-size: 1em;
  }
  p.small {
    line-height: 160%;
    font-size: 0.6em;
  }
  header, section {
    padding-bottom: 10vw;
  }
  .hero-image {
    margin-bottom: 6vw;
  }
}
